
CASSANDRA_HOSTS=cassandra
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=dog_emotion_keyspace

CASSANDRA_USER=<login>
CASSANDRA_PASSWORD=<password>

CASSANDRA_BOOTSTRAP_USER=<superuser>
CASSANDRA_BOOTSTRAP_PASSWORD=<superuser-password>

CASSANDRA_CONNECT_RETRIES=6
CASSANDRA_RETRY_DELAY=20.0
CASSANDRA_REQUEST_TIMEOUT=20.0

API_PORT=8000
